@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

body {
	margin: 0;
	background-color: #101418;
	color: #f5f5f5;
	font-family: 'Barlow', sans-serif;
	font-size: 16px;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
	background: transparent !important;
	opacity: 1;
}

::-webkit-scrollbar {
	background: transparent !important;
}
